<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
      <mat-card-title>Delete website</mat-card-title>
      <mat-card-content>
        <div fxLayout="column wrap" fxLayoutGap="40px">
          <div fxLayout="row wrap" fxFlex>
            <div fxFlex><strong>Website's name:</strong></div>
            <div fxFlex>{{website?.name}}</div>
          </div>
          <div fxLayout="row wrap" fxFlex>
            <div fxFlex><strong>Website's url:</strong></div>
            <div fxFlex>{{website?.url}}</div>
          </div>
          <div fxLayout="row wrap" fxFlex>
            <div fxFlex><strong>Date of creation:</strong></div>
            <div fxFlex>{{website?.dateCreated | date}}</div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" (click)="deleteWebsite()">Delete</button>
        <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      </mat-card-actions>
    </mat-card>
  </section>